body{
    background-color: lightgoldenrodyellow;
}
h1{
    /* position:relative; */
    width: max-content;

}
h1::before{
    content:"";
    background:linear-gradient(to right , red , green);
    /* background-color: green; */
    height: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    position:absolute;
    transition: 500ms ease-in;
}
h1:hover::before{
    width: 0;
    
}
.navbar{
    text-align: right;
    right;20px;
    bottom:50px;

}
#a1{
    text-decoration: none;
    color:blueviolet;
    padding-right: 50px;
}
#a2{
    text-decoration: none;
    color:blueviolet;
    padding-right: 50px;
}
#a3{
    text-decoration: none;
    color:blueviolet;
    padding-right: 50px;
}
#a4{
    text-decoration: none;
    color:blueviolet;
    /* padding-right: 50px; */
}
#a1:hover{
    color:orange;
    font-size: 10px;
}
#a2:hover{
    color:orange;
    font-size: 10px;
}
#a3:hover{
    color:orange;
    font-size: 10px;
}
#a4:hover{
    color:orange;
    font-size: 10px;
}
