h1{
    position:relative;
    width: max-content;
}
h1::before{
    content:"";
    background:linear-gradient(to right , red , green);
    /* background-color: green; */
    height: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    position:absolute;
    transition: 500ms ease-in;
}
h1:hover::before{
    width: 0;
    
}