body{
    background-color: lightblue;
}
.navbar{
    text-align: center;
}

 .social-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 2px solid black; */
  width: 180px;
  height: 40px;
  background-color: black;
  padding: 5px;
  border-radius: 8px;
  z-index: 1000;
}

.social-icons a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: 0 5px;
}

.social-icons a:hover {
  color: darkgreen;
}


.social-icons a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#a1{
    color: purple;
    text-decoration: none;
    padding-right: 50px;
    
}#a1:hover{
    color: orange;
    font-size: 10px;
}
#a2{
    color: purple;
    text-decoration: none;
    padding-right: 50px;
}#a2:hover{
    color: orange;
    font-size: 10px;
}
#a3{
    color: purple;
    text-decoration: none;
    padding-right: 50px;
}#a3:hover{
    color: orange;
    font-size: 10px;
}
#a4{
    color: purple;
    text-decoration: none;
    padding-right: 50px;
}#a4:hover{
    color: orange;
    font-size: 10px;
}
#a5{
    color: purple;
    text-decoration: none;
    padding-right: 20px;
}#a5:hover{
    color: orange;
    font-size: 10px;
}
#a6{
    color: purple;
    text-decoration: none;
    padding-right: 20px;
}#a6:hover{
    color: orange;
    font-size: 10px;
}
#a7{
    color: purple;
    text-decoration: none;
    padding-right: 20px;
}#a7:hover{
    color: orange;
    font-size: 10px;
}